:root {
  --c-accent: #905bff;
  --c-accent-hover: #a378ff;
  --c-red: #eb5757;
  --c-green: #27ae60;
  --c-static-white: #fff;
  --c-bg: #f8f9fb;
  --c-surface: #fff;
  --c-surface-2: #f3f2fa;
  --c-text: #0f0f11;
  --c-secondary: #89939a;
  --c-icons: #b4bdc3;
  --c-elements: #e2e6e9;
  --c-shadow: rgba(23, 32, 49, 8%);
  --c-shadow-strong: rgba(23, 32, 49, 17%);
  --c-overlay: rgba(15, 15, 17, 40%);
  --c-btn-text: #fff;
}
