@use '../../styles/mixins' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding-top: 24px;
  padding-bottom: 64px;

  @include on-desktop {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
